<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API eCommetce Test Suite">

    <test name="Product Test">

        <classes>
            
            <class name="com.juaracoding.restassured.ProductTest" />
        </classes>
    </test>
</suite>